<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:revibe.app.link</string>
		<string>applinks:revibe-alternate.app.link</string>
		<string>applinks:link.revibe.tech</string>
		<string>webcredentials:example.com</string>
	</array>
</dict>
</plist>
